<link ng-href="{{href}}" type="{{type}}" rel="stylesheet" />
<div ng-animate="'animate'" class="portfolio">
	<div class="row row1">
    	<div class="col-xs-12 col-sm-6 col-lg-6 left">
        	<img class="responsive" src="/profile/assets/img/temp2.jpg" />
        </div>	
        <div class="col-xs-12 col-sm-6 col-lg-6 right">
        	<img class="responsive" src="/profile/assets/img/lf.jpg" />
        </div>	
    </div>
    <div class="row row2">
    	<div class="col-xs-12 col-sm-6 col-lg-6 left">
        	<img class="responsive" src="/profile/assets/img/temp1.jpg" />
        </div>	
        <div class="col-xs-12 col-sm-6 col-lg-6 right">
        	<img class="responsive" src="/profile/assets/img/temp3.jpg" />
        </div>	
    </div>
</div>